@model NBlog.Domain.Commands.CreateBlogCommand

@{
    ViewBag.Title = "Create your blog!";
}

<h1>
    @ViewBag.Title
</h1>
@using(Html.BeginForm())
{
    <div class="editor">
        <div class="editor-entry">
            <div class="editor-label">
                @Html.LabelFor(model => model.BlogTitle)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BlogTitle)
                @Html.ValidationMessageFor(model => model.BlogTitle)
            </div>
        </div>
        <div class="editor-entry">
            <div class="editor-label">
                @Html.LabelFor(model => model.Subtitle)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Subtitle)
                @Html.ValidationMessageFor(model => model.Subtitle)
            </div>
        </div>
        @Html.HiddenFor(model => model.AggregateId)
        <input type="submit" value="Create blog"/>
    </div>
}

