@using NBlog.Web.Helpers
@model IEnumerable<NBlog.Views.PostItem>

@{
    ViewBag.Title = "Index";
}

<section class="posts">
    @foreach (var postItem in Model)
    {
        <article class="post bottom-ruler">
            <header class="post-header">
                <h1>
                    @Html.ActionLink(postItem.Title, "Show", "Post", new {slug = postItem.Slug}, null)
                </h1>
                <time class="time" datetime="@postItem.PublishedTime.ToHtmlTimeString()">@postItem.PublishedTime.ToPostTime()</time>
            </header>
            <div class="content excerpt">
                @Html.Raw(postItem.HtmlExcerpt)
            </div>
            <div class="block-link">
                @Html.ActionLink("Read more", "Show", "Post", new { slug= postItem.Slug }, null)
            </div>
        </article>
    }
</section>
