@using NBlog.Views
@using NBlog.Web.Helpers
@model NBlog.Web.Models.PostItemViewModel

@{
    ViewBag.Title = string.IsNullOrEmpty(Model.PostItem.Title) ? "Missing title" : Model.PostItem.Title;
}
@if(Model.IsAdminMode)
{
    using (Html.BeginForm("Update", "Post", FormMethod.Post))
    {
        @Html.Partial("_EditPost", Model.UpdatePostCommand)
    }
    <div class="actions">
        @Html.ActionLink("Publish", "Publish", new {aggregateId = Model.PostItem.AggregateId})
    </div>
}

<article class="post">
    <header class="post-header">
        <h1>
            @ViewBag.Title
        </h1>
        <time class="time" datetime="@Model.PostItem.PublishedTime.ToHtmlTimeString()">@Model.PostItem.PublishedTime.ToPostTime()</time>
    </header>
    <div class="content wmd-preview" id="wmd-preview">
        @Html.Raw(@Model.PostItem.HtmlContent)
    </div>
</article>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@Html.Partial("_Disqus", Model.PostItem.AggregateId.ToString())
