@model NBlog.Models.CreateAdminModel

@{
    ViewBag.Title = "Create the master of the universe!";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Enter the master's user information</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PasswordConfirmation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PasswordConfirmation)
            @Html.ValidationMessageFor(model => model.PasswordConfirmation)
        </div>

        <div class="editor-actions">
            <input type="submit" value="Create" id="Create" />
        </div>
    </fieldset>
}
