@model NBlog.Models.LogInViewModel

@{
    ViewBag.Title = "Log in to rule the world";
}

<h2>Could you please log in... that would make my day</h2>

@using (Html.BeginForm()) {
    <fieldset>
        <legend>This is where you enter your credentials.</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-actions">
            <input type="submit" value="Log in" id="LogIn" />
        </div>
    </fieldset>
}
