@model NBlog.Areas.Admin.Models.EditPostModel

@{
    ViewBag.Title = "Update post";
}

<div class="editor">
    <header>
        <h1>Edit post</h1>
    </header>
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)

        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(model => model.Title)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>


            <div class="editor-label">
                @Html.LabelFor(model => model.Slug)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Slug)
                @Html.ValidationMessageFor(model => model.Slug)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Excerpt)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Excerpt)
                @Html.ValidationMessageFor(model => model.Excerpt)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Content)
            </div>
            <div class="editor-field ">
                @Html.EditorFor(model => model.Content)
                @Html.ValidationMessageFor(model => model.Content)
            </div>

            <p>
                <input type="submit" value="Update" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
