@model IEnumerable<NBlog.Areas.Admin.Models.ListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="posts">
    <tr>
        <th></th>
        <th>
            ShortUrl
        </th>
        <th>
            Post
        </th>
        <th>
            Title
        </th>
        <th>
            Tags
        </th>
        <th>
            Categories
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Post.PostMetaData.ShortUrl }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Post.PostMetaData.ShortUrl })
        </td>
        <td>
			@item.Post.PostMetaData.ShortUrl
        </td>
        <td>
			@item.Post.Published.IsNotNull() ? item.Post.Published.Content : item.Post.PostVersions.First().Content 
        </td>
        <td>
			@item.Post.Published.IsNotNull() ? item.Post.Published.Title : item.Post.PostVersions.First().Title 
        </td>
        <td>
			@(item.Post.PostMetaData.Tags == null ? "None" : item.Post.PostMetaData.Tags.Count.ToString())
        </td>
        <td>
			@(item.Post.PostMetaData.Categories == null ? "None" : item.Post.PostMetaData.Categories.Count.ToString())
        </td>
    </tr>
}

</table>


